body{
  background-color: black;
}

.container{
  position: relative;
  width: 600px;
  margin: auto;
  background-color: white;
  padding: 20px;
  border: red 3px solid;
  border-radius: 10px;
}

.treasure{
  position: absolute;
  left: 50px;
  top: 150px;
}

#feedback{
  background-color: black;
  color: red;
  font-size: 30px;
  font-weight: bold;
}
